@include grid-classes(); // classes without media query

$medias: $media-xs, $media-md, $media-phone, $media-tablet, $media-mobile, $media-laptop, $media-desktop, $media-xl;
$prefixes: 'xs', 'md', 'phone', 'tablet', 'mobile', 'laptop', 'desktop', 'xl';

@each $media in $medias {
  $index: index($medias, $media);
  @media #{$media} {
    @include grid-classes(nth($prefixes, $index));
  }
}
