$gl-prefix: gl !default;
$cell-count: 12 !default;

$xs: 424px !default;
$phone-min: 425px !default;
$phone-max: 767px !default;
$tablet-min: 768px !default;
$tablet-max: 1023px !default;
$laptop-min: 1024px !default;
$laptop-max: 1439px !default;
$xl: 1400px !default;

$media-phone: screen and (max-width: $phone-max);
$media-mobile: screen and (max-width: $tablet-max);
$media-desktop: screen and (min-width: $laptop-min);

$base-gap: 10px !default;
