$gl-prefix: gl !default;
$cell-count: 12 !default;

$xs: 424px !default;
$phone-min: 425px !default;
$phone-max: 767px !default;
$tablet-min: 768px !default;
$tablet-max: 1023px !default;
$laptop-min: 1024px !default;
$laptop-max: 1439px !default;
$xl: 1400px !default;

$media-xs: screen and (max-width: $xs);
$media-md: screen and (min-width: $phone-min) and (max-width: $phone-max);
$media-phone: screen and (max-width: $phone-max);
$media-tablet: screen and (min-width: $tablet-min) and (max-width: $tablet-max);
$media-mobile: screen and (max-width: $tablet-max);
$media-laptop: screen and (min-width: $laptop-min) and (max-width: $laptop-max);
$media-desktop: screen and (min-width: $laptop-min);
$media-xl: screen and (min-width: $xl);


$base-gap: 5px !default;
